@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(27, 66%, 92%);
    height: 100vh;
}
.diagramme{
    width: 450px;
    height: 600px;
}
.entete{
    display: flex;
    border-radius: 1rem;
    background-color: hsl(10, 79%, 65%);
    justify-content: space-between;
    padding: 1rem;
  
}
.part1{
    color: hsl(27, 66%, 92%);
}
.haut{
    font-size: 14px;
}
.bas{
    font-weight: bold;
    font-size: 25px;
}
.part2{

}

.corps{
    border: 1px solid hsl(33, 100%, 98%);
    background-color:  white;
    border-radius: 1rem;
    margin-top: 1rem;
    height: 450px;
}



.partie1{
    font-weight: bold;
}

.partie2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.bloc{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 10%;
    justify-content: end;
    margin-top: 2.5rem;
}
.colone{
    width: 100%;
    border-radius: 0.25rem;
}
.colone1{
    height: 70px;
    background-color:  hsl(10, 79%, 65%);
}
.colone2{
    height: 110px;
    background-color:  hsl(10, 79%, 65%);
}
.colone3{
    height: 100%;
    background-color:  hsl(186, 34%, 60%);
}
.colone4{
    height: 100px;
    background-color:   hsl(10, 79%, 65%);
}
.colone5{
    height: 80px;
    background-color:   hsl(10, 79%, 65%);
}
.colone6{
    height: 150px;
    background-color:   hsl(10, 79%, 65%);
}
.colone7{
    height: 90px;
    background-color:   hsl(10, 79%, 65%);
}
.jour{
    justify-content: center;
    margin-top: 0.5rem;
    color:  hsl(28, 10%, 53%);
    margin-bottom: 2rem;
}
.bas2{
    display: flex;
    margin-right: 4.5rem;
    margin-top: 1rem;
}
.gauche{
    width: 60%;
}

.gauche-head{
    font-size: 35px;
    color: hsl(28, 10%, 53%);
}
.gauche-foot{
    font-weight: bold;
    font-size: 90px;
}
.droit{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 40%;
}
.droit-head{
    font-weight: bold;
    font-size: 40px;
}
.droit-foot{
    color: hsl(28, 10%, 53%);
    font-size: 35px;
}